
@model Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmationView</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Dziękujemy za wypełnienie formularza. 
           Wysyłamy towar do @Html.DisplayTextFor(@model => @model.FirstName) @Html.DisplayTextFor(@model => @model.Surname)
           na adres @Html.DisplayTextFor(@model => @model.Address)
       </p>
    }
</body>
</html>
