@model Person
@using HC.Tomek.Ex5.Routing.Extensions
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.FirstName)</td>
                    <td>@Html.TextBoxFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Surname)</td>
                    <td>@Html.TextBoxFor(model => model.Surname)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Age)</td>
                    <td>@Html.TextBoxFor(model => model.Age)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Address)</td>
                    <td>@Html.TextBoxFor(model => model.Address)</td>
                </tr>

                <tr>
                    <td><input type="submit" value="Send" /></td>
                </tr>

            </table>
    }
    @Html.HelloWorld(3)

