
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/Content/Style.css" rel="stylesheet"/>
</head>
<body>
    <div class="ads1">@Html.Partial("Ads")</div>
    <div id="content">
        <header><img src="https://www.headchannel.co.uk/media/1001/headchannel-logo.png" />@RenderSection("Title",false)</header>
        <nav>@Html.RouteLink("Registration Form","Form")
        @Html.RouteLink("About","About-us")</nav>
        <section>@RenderBody()</section>
    </div>
    <div class="ads">@Html.Action("Index", "Ads")</div>
    <footer>Copywrite 2017 @RenderSection("Number", false)</footer>
    
</body>
</html>
