@model HC.Radek.Ex5.Routing.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            //@Html.ValidationMessage("age")
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.FirstName)</td>
                    <td>@Html.TextBoxFor(model => model.FirstName)  </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.LastName)</td>
                    <td>@Html.TextBoxFor(model => model.LastName)  </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Street)</td>
                    <td>@Html.TextBoxFor(model => model.Street)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.HouseNumber)</td>
                    <td>@Html.TextBoxFor(model => model.HouseNumber)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.City)</td>
                    <td>@Html.TextBoxFor(model => model.City)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CityCode)</td>
                    <td>@Html.TextBoxFor(model => model.CityCode)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BirthDate)
                    (yyyy-mm-dd)</td>
                    <td>@Html.TextBoxFor(model => model.BirthDate)</td>
                </tr>



                <tr>
                    <td colspan="2"><input type="submit" name="submit" value="add" /></td>
                    
                </tr>
            </table>
        }
        @*<form method="post">
            <div>First name <input type="text" name="Name" /></div>
            <div>Age <input type="text" name="Age" /></div>
            <div><input type="submit" name="submit" value="add" /></div>
        </form>*@
    </div>
</body>
</html>
